.flex-wrappers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.service-boxs {
  width: 45%;
  margin: 0.5rem;
  position: relative;
  overflow: hidden;
}

.service-boxs .service-contents {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Semi-transparent white background */
  text-align: center;
}

.service-boxs h2 {
  margin-bottom: 0.5rem;
}

.more-buttons {
  background-color: blue;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.more-buttons:hover {
  background-color: darkblue;
}

.service3 {
  background-image: url("../../Assets/team.jpg");
  background-size: cover;
  background-position: center;
  width: 300px;
  border-radius: 5px;
  min-height: 200px;
  cursor: pointer;
}
